<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias type="cn.jxufe.lyl.domain.User" alias="User"/>
        <typeAlias type="cn.jxufe.lyl.domain.Book" alias="Book"/>
        <typeAlias type="cn.jxufe.lyl.domain.Admin" alias="Admin"/>
    </typeAliases>

</configuration>